@* @model AdmonBD.Models.UserModel

@{
    ViewData["Title"] = "Crear Login y Usuario";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label for="LoginName">Login Name</label>
        <input type="text" class="form-control" id="LoginName" name="LoginName" value="@Model.LoginName" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" required />
    </div>
    <div class="form-group">
        <label for="ServerPermission">Server Permission</label>
        <input type="text" class="form-control" id="ServerPermission" name="ServerPermission" value="@Model.ServerPermission" />
    </div>
    <div class="form-group">
        <label for="AssignedDatabases">Assigned Databases</label>
        <select class="form-control" id="AssignedDatabases" name="AssignedDatabases" multiple>
            <option value="Database1">Database1</option>
            <option value="Database2">Database2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="AssignedTables">Assigned Tables</label>
        <select class="form-control" id="AssignedTables" name="AssignedTables" multiple>
            <option value="Table1">Table1</option>
            <option value="Table2">Table2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="DatabasePermission">Database Permission</label>
        <input type="text" class="form-control" id="DatabasePermission" name="DatabasePermission" value="@Model.DatabasePermission" />
    </div>
    <div class="form-group">
        <label for="TablePermission">Table Permission</label>
        <input type="text" class="form-control" id="TablePermission" name="TablePermission" value="@Model.TablePermission" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
 *@